@font-face {
    font-family: 'Preevio';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    src: url('./fonts/PlusJakartaSans.ttf') format('truetype');
}

body {
    font-family: 'Preevio', sans-serif;
}
